.anime_container {
    padding: 30px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px 0;
    height: 700px;
}
.anime-card{
    width: 170px;
    height: 230px;
    float:left;
    padding: 0px;
    margin-right: 24px;
    margin-top: 20px;
    transition: all .5s;
}
.anime_title{
    display: block;
    color: #8492a6;
    font-size: 14px;
    text-align: center;
}
.anime_link{
    
    display: block;
    color: #dcdfe6;
    font-size: 11px;
    text-align: center;
}

.anime_link:hover{
    font-size:17px;
}