.bottom-tip {
    background: #f3f3f3;
    border: #e9e9e9 1px solid;
    margin-bottom: 20px;
    color: #a0a0a0;
    padding: 25px 20px;
}

#nav-card {
    text-align: left;
    padding: 20px;
    font-size: 19px;
    font-family: SimHei;
}

#nav-card div:hover {
    background-color: rgba(232, 222, 222, 0.67);
}

.v-md-editor-preview {
    position: relative;
}

.bar-top {
    width: 100%;
}

.switch-bar {
    position: absolute;
    right: 7px;
    top: 150px;
}

.blogCss {
    color: red;
}

body {
    background-color: #fff;
    overflow: scroll;
}

.main {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding-left: 50px;
    margin-right: 130px;
    width: 73%;
    float: right;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
}

.blog-nav {
    position: fixed;
    overflow-y: auto;
    top: 0;
    bottom: 0;
    left: 0;
    width: 20rem;
    background-color: #fff;
    background-image: url("../../assets/img/blog-bar.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom 1rem center;
    text-align: center;
    z-index: 10;
    transition-property: all;
    transition-duration: .3s;
    transition-delay: 0s;
    box-shadow: 0 0 2px;
}

.blog-content {
    display: flex;
    flex-direction: column;
    color: #333;
    background-color: #fff;
    margin: 0;
    padding-top: 2.5rem;
    margin: 0 1rem 1rem 1rem;
    background-color: #fff;
    padding: 1rem .5rem;
}

.blog-title {
    margin: 0;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 900;
    font-family: 'Songti SC', 'Noto Serif SC', STZhongsong, STKaiti, KaiTi, Roboto, serif;
    line-height: 2;
}

.blog-header {
    text-align: center;
}

.blog-info {
    font-size: 14px;
}

.blog-info span {
    padding-left: 23px;
}
