.right-bott{
    height: 300px;
}
.home-tag{
    padding: 7px;
    color: #f6a939;
    border-radius: 4px;
}
.right-top{
    padding: .6rem 1rem;
    border-left: 4px solid #4eaaff;;
    background-color:rgba(0,120,231,.05);
    height: 300px;
    font-family: 'PingFang SC','Microsoft YaHei',Roboto,Arial,sans-serif;
}
.box-right-card{
    position: absolute;
    top:10px;
    right: 100px;
    height: 670px;
    width: 300px;
    float:right;
    opacity: 0.9;
}
.clearfix {
    clear:both;
}
.openBtn{
    position: relative;
    bottom: 20px;
    text-align: center;
    background-color: #fafafa;
}
.draw-enter-active, .draw-leave-active {
    transition: all 1s ease;
}

.draw-enter, .draw-leave-to {
    height: 0;
}
.md-editor{
    position: relative;
    bottom: 20px;
    opacity: 0.97;
    height: 100%;
}
.blog-content {
    padding: 8px 16px;
    background-color: #ecf8ff;
    border-radius: 4px;
    border-left: 5px solid #348fc3;
    margin: 20px 0;
}

.blog-content-into {
    padding: 7px;
}

.sharelistBox {
    transition: all 0.5s ease-out;
    font-size: 15px;
    padding-left: 90px;
}

.indexContent {
    opacity: 0.96;
}

.article_title {
    text-align: center;
    color: #409EFF;
    margin: 0;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 900;
    font-family: 'Hiragino Sans GB';
}

.article_title:hover {
    color: #E6A23C;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.box-card {
    width: 500px;
    height: 350px;
    background-color: white;
    display: block;
    right: 28px;
    top: 40px;
    bottom: 40px;
    position: relative;
    overflow: hidden;
    float: right;
}
.upload-frame{
    width:360px;
}
.page-card{
    margin-top: 14px;
    text-align: center;
}